<div class="row">
<h1>You see a plaque. It reads...Two paths lie ahead of you, pick one now to start your journey!</h1>
</div>
<form action="/output" method="post">
  <div class="row">
    <div class="col-lg-4">
      <button type="submit" name="left"  value="left" class="btn btn-warning btn-block">Left</button>
    </div>
    <!-- <div class="col-lg-4">
    </div> -->
    <div class="col-lg-4 ml-lg-auto">
      <button type="submit" name="right" value="right" class="btn btn-primary btn-block">Right</button>
    </div>
  </div>
</form>
