<div class="row">
  <div class="col-lg-12">
    <h1><%= @read_this%></h1>
    
  </div>
</div>
<!-- <form action="/output" method="post"> -->
  <!-- <div class="row">
    <div class="col-lg-4">
      <button type="submit" name="left"  value="left" class="btn btn-warning btn-block">Left</button>
    </div>
    <div class="col-lg-4 ml-lg-auto">
      <button type="submit" name="right" value="right" class="btn btn-primary btn-block">Right</button>
    </div>
  </div> -->
<!-- </form> -->

<form action="/next_room" method="post">
  <div class="form-group">
    <label for="which_way">Pick your path: <%= @the_direction %>  </label>
    <input id="1" name="which_way" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary btn-block">GO!</button>
</form>
